h2 {
    /* color: purple;
    background-color: rgb(83, 164, 20); */
    font-weight: normal;
    /* font-family: 'Segoe UI', sans-serif; */
    letter-spacing: 13px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: blue underline;
}


/* button {
    color: magenta;
    background: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background-color: darkorchid;
} */